<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/create_wallet">지갑 생성</a><br>
    <a href="/create_token">토큰을 생성</a><br>
    <a href="/trans_token">토큰 거래</a><br>
    <a href="/token_balance">토큰 확인</a>
</body>
</html>