<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/token_balance2" method="post">
        <label>지갑 주소</label>
        <input type="text" name="_address"><br>
        <label>토큰 주소</label>
        <input type="text" name="_token"><br>
        <input type="submit"  value="토큰 조회">
    </form>
</body>
</html>