<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>transfer</h1>
    <form action="/trans_token2" method="post">
        <label>받을 지갑의 주소</label>
        <input type="text" name = '_address'><br>
        <label>토큰의 양</label>
        <input type="number" name="_amount"><br>
        <label>토큰 주소</label>
        <input type="text" name = "_token"><br>
        <input type="submit" value="토큰 전송">
    </form>

    <h1>transferfrom</h1>
    <form action="/trans_token3" method="post">
        <label>토큰 주소</label>
        <input type="text" name="_token"><br>
        <label>보내는 사람의 private key</label>
        <input type="text" name="_private"><br>
        <label>토큰 수량</label>
        <input type="number" name="_amount"><br>
        <input type="submit" value="토큰 전송">
    </form>

</body>
</html>