<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>main page</h1>
    <!-- js에 있는 변수의 값을 보여주려면 -->
    <p>
        <%=name%>
    </p>
</body>
</html>