<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <percent percent> : js 코드 사용 -->
    <!-- <percent=변수명percent> js에 있는 변수를 로드 하는 경우 -->
    <p>로그인을 한 아이디는 (<%=input_id%>) 입니다. </p>
</body>
</html>