<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>글쓰기 페이지</h1>
    <form action="/board/add" method="post">
        <label>title</label>
        <input type="text" name="input_title"><br>
        <label>content</label>
        <textarea name="input_content" style="width:400px;height:500px"></textarea><br>
        <input type="submit" value='글쓰기'>
    </form>
</body>
</html>