<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Main Page</h1>
    <!-- 하이퍼링크 생성 회원 정보 수정 -->
    <!-- /update -->

    <!-- 하이퍼링크 생성 회원 탈퇴 -->
    <!-- /delete -->




</body>
</html>