<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup Page</h1>
    <!-- form 태그 생성 -->
    <form action="/signup2" method="post">
        <label>ID</label>
        <input type="text" name="id"><br>
        <label>PASSWORD</label>
        <input type="password" name="pass"><br>
        <label>Name</label>
        <input type="text" name="name"><br>
        <label>Phone</label>
        <input type="text" name="phone"><br>
        <input type="submit" value="회원가입">
    </form>
</body>
</html>